<a href="https://colab.research.google.com/github/mona-sh/finalproject/blob/main/finalproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#imports several Python libraries
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
#module for prediction and evaluation
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [ ]:
#read dataset
dataset_path="/content/dataset/Salary Data.csv"
delimiter=";"
dataset = pd.read_csv(dataset_path)
df=dataset.copy()
df

In [ ]:
classe="Salary"

In [ ]:
#Summary
df.info()

In [ ]:
#observation of the dataset and filling of the NANSobservation of the dataset and filling of the NANS
#generate descriptive statistics
df.describe()

In [ ]:
#numeric (quantitative) columns
for col in df.select_dtypes(include=["float", "int"]):
    print(col)
    print(f"Mean with NaN: {df[col].mean()}")
    print(f"Mean without NaN: {df[col].mean(skipna=True)}")

In [ ]:
#object columns (Qualitative)
for col in df.select_dtypes(include=["object"]):
    print(col)
    print(f"Most frequent with NaN: {df[col].mode()[0]}")
    print(f"Most frequent without NaN: {df[col].value_counts().idxmax()}")

In [ ]:
#so the nans change nothing in the object columns we replace the nans in df by the average without nan for numerics by the most frequent in objects
# Iterate over each column in the DataFrame
for col in df.columns:
    # Check if the column is of object type
    if col in df.select_dtypes(include=['object']).columns:
        # If it is an object column, fill missing values with the mode
        df[col] = df[col].fillna(df[col].dropna().mode()[0])
        # Print the column name and the count of remaining missing values
        print(col, df[col].isna().sum())
    else:
        # If it is not an object column, fill missing values with the mean
        df[col] = df[col].fillna(df[col].mean(skipna=True))
        # Print the column name and the count of remaining missing values
        print(col, df[col].isna().sum())

Age 0
Gender 0
Education Level 0
Job Title 0
Years of Experience 0
Salary 0

In [ ]:
#get numbers form objects
for col in df.select_dtypes('object'):
    print(col,'-------->')
    print(df[col].value_counts().reset_index())
    print()
    print()

Gender -------->
    index  Gender
0    Male     196
1  Female     179


Education Level -------->
        index  Education Level
0  Bachelor's              226
1    Master's               98
2         PhD               51


Job Title -------->
                               index  Job Title
0              Director of Marketing         14
1             Director of Operations         11
2            Senior Business Analyst         10
3           Senior Marketing Analyst          9
4           Senior Marketing Manager          9
..                               ...        ...
169     Business Development Manager          1
170  Customer Service Representative          1
171                       IT Manager          1
172        Digital Marketing Manager          1
173             Junior Web Developer          1

[174 rows x 2 columns]

In [ ]:
#class table
for col in df.select_dtypes("object"):
    print(f'{col}-------->{sorted(df[col].unique())}')

Job Title-------->['Account Manager', 'Accountant', 'Administrative Assistant', 'Business Analyst', 'Business Development Manager', 'Business Intelligence Analyst', 'CEO', 'Chief Data Officer', 'Chief Technology Officer', 'Content Marketing Manager', 'Copywriter', 'Creative Director', 'Customer Service Manager', 'Customer Service Rep', 'Customer Service Representative', 'Customer Success Manager', 'Customer Success Rep', 'Data Analyst', 'Data Entry Clerk', 'Data Scientist', 'Digital Content Producer', 'Digital Marketing Manager', 'Director', 'Director of Business Development', 'Director of Engineering', 'Director of Finance', 'Director of HR', 'Director of Human Capital', 'Director of Human Resources', 'Director of Marketing', 'Director of Operations', 'Director of Product Management', 'Director of Sales', 'Director of Sales and Marketing', 'Event Coordinator', 'Financial Advisor', 'Financial Analyst', 'Financial Manager', 'Graphic Designer', 'HR Generalist', 'HR Manager', 'Help Desk Analyst', 'Human Resources Director', 'IT Manager', 'IT Support', 'IT Support Specialist', 'Junior Account Manager', 'Junior Accountant', 'Junior Advertising Coordinator', 'Junior Business Analyst', 'Junior Business Development Associate', 'Junior Business Operations Analyst', 'Junior Copywriter', 'Junior Customer Support Specialist', 'Junior Data Analyst', 'Junior Data Scientist', 'Junior Designer', 'Junior Developer', 'Junior Financial Advisor', 'Junior Financial Analyst', 'Junior HR Coordinator', 'Junior HR Generalist', 'Junior Marketing Analyst', 'Junior Marketing Coordinator', 'Junior Marketing Manager', 'Junior Marketing Specialist', 'Junior Operations Analyst', 'Junior Operations Coordinator', 'Junior Operations Manager', 'Junior Product Manager', 'Junior Project Manager', 'Junior Recruiter', 'Junior Research Scientist', 'Junior Sales Representative', 'Junior Social Media Manager', 'Junior Social Media Specialist', 'Junior Software Developer', 'Junior Software Engineer', 'Junior UX Designer', 'Junior Web Designer', 'Junior Web Developer', 'Marketing Analyst', 'Marketing Coordinator', 'Marketing Manager', 'Marketing Specialist', 'Network Engineer', 'Office Manager', 'Operations Analyst', 'Operations Director', 'Operations Manager', 'Principal Engineer', 'Principal Scientist', 'Product Designer', 'Product Manager', 'Product Marketing Manager', 'Project Engineer', 'Project Manager', 'Public Relations Manager', 'Recruiter', 'Research Director', 'Research Scientist', 'Sales Associate', 'Sales Director', 'Sales Executive', 'Sales Manager', 'Sales Operations Manager', 'Sales Representative', 'Senior Account Executive', 'Senior Account Manager', 'Senior Accountant', 'Senior Business Analyst', 'Senior Business Development Manager', 'Senior Consultant', 'Senior Data Analyst', 'Senior Data Engineer', 'Senior Data Scientist', 'Senior Engineer', 'Senior Financial Advisor', 'Senior Financial Analyst', 'Senior Financial Manager', 'Senior Graphic Designer', 'Senior HR Generalist', 'Senior HR Manager', 'Senior HR Specialist', 'Senior Human Resources Coordinator', 'Senior Human Resources Manager', 'Senior Human Resources Specialist', 'Senior IT Consultant', 'Senior IT Project Manager', 'Senior IT Support Specialist', 'Senior Manager', 'Senior Marketing Analyst', 'Senior Marketing Coordinator', 'Senior Marketing Director', 'Senior Marketing Manager', 'Senior Marketing Specialist', 'Senior Operations Analyst', 'Senior Operations Coordinator', 'Senior Operations Manager', 'Senior Product Designer', 'Senior Product Development Manager', 'Senior Product Manager', 'Senior Product Marketing Manager', 'Senior Project Coordinator', 'Senior Project Manager', 'Senior Quality Assurance Analyst', 'Senior Research Scientist', 'Senior Researcher', 'Senior Sales Manager', 'Senior Sales Representative', 'Senior Scientist', 'Senior Software Architect', 'Senior Software Developer', 'Senior Software Engineer', 'Senior Training Specialist', 'Senior UX Designer', 'Social Media Manager', 'Social Media Specialist', 'Software Developer', 'Software Engineer', 'Software Manager', 'Software Project Manager', 'Strategy Consultant', 'Supply Chain Analyst', 'Supply Chain Manager', 'Technical Recruiter', 'Technical Support Specialist', 'Technical Writer', 'Training Specialist', 'UX Designer', 'UX Researcher', 'VP of Finance', 'VP of Operations', 'Web Developer']

In [ ]:
hue1="Education Level"
hue2="Gender"

In [ ]:
#begining
class_table_count = df.groupby(classe).count().reset_index()
class_table_count

In [ ]:
class_table_mean = df.groupby(classe).mean().reset_index()
class_table_mean

In [ ]:
from matplotlib import pyplot as plt
tableau_classe_mean.plot(kind='scatter', x='Age', y='Years of Experience', s=32, alpha=.8)
plt.gca().spines[['top', 'right',]].set_visible(False)

In [ ]:
from matplotlib import pyplot as plt
tableau_classe_mean.plot(kind='scatter', x='Years of Experience', y='Salary', s=32, alpha=.8)
plt.gca().spines[['top', 'right',]].set_visible(False)

In [ ]:
df_summary=df.describe()
df_summary

In [ ]:
matrice_de_correlation_standarise= df_standariser.corr()
matrice_de_correlation_standarise

In [ ]:
sns.pairplot(df_standariser,hue=hue1)

In [ ]:
df_standariser_normaliser=df_standariser[(df_standariser["Salary"] < 250000 )& (df_standariser["Salary"]>0)]
df_standariser_normaliser

In [ ]:
sns.pairplot(df_standariser_normaliser,hue=hue1)

In [ ]:
import matplotlib.pyplot as plt

# Plotting the data
plt.scatter(df_standariser_normalise_traite['Years of Experience'], df_standariser_normalise_traite['Salary'])
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.title('Linearity between Years of Experience and Salary')
plt.show()

In [ ]:
def pre_processing(df):
    X = df[['Years of Experience']]  # Include only the 'Years of Experience' column as input feature
    Y = df['Salary']
    return X, Y

In [ ]:
#spliting test_train

#train_set,test_set=train_test_split(df_standariser_normalise_traite,test_size=0.25, random_state=0)
#train_set.shape
#X, Y = pre_processing(df_standariser_normalise_traite)

X, Y = pre_processing(df_standariser_normalise_traite)
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.25, random_state=0)

In [ ]:
X_train ,Y_train = pre_processing(train_set)
X_test ,Y_test = pre_processing(test_set)

In [ ]:
import matplotlib.pyplot as plt

def evaluation(model, X_train, Y_train, X_test, Y_test):
    model.fit(X_train, Y_train)
    Y_pred = model.predict(X_test)
    plt.figure(figsize=(10, 10))
    plt.scatter(Y_test, Y_pred, s=200, label='Predicted')
    plt.plot([min(Y_test), max(Y_test)], [min(Y_test), max(Y_test)], 'r--', label='Ideal')
    plt.xlabel('Actual')
    plt.ylabel('Predicted')
    plt.title('Evaluation')
    plt.legend()
    plt.show()

In [ ]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the model
model = LinearRegression()

# Train the model on your training data
model.fit(X_train, Y_train)

# Make predictions on the test data
Y_pred = model.predict(X_test)

# Calculate the root mean squared error (RMSE)
rmse = mean_squared_error(Y_test, Y_pred, squared=False)

# Create a figure with a custom size
plt.figure(figsize=(10, 6))  # Width: 10 inches, Height: 6 inches

# Plot a scatter plot of the predicted values
plt.scatter(Y_test, Y_pred, s=200, label='Predicted')
plt.plot([min(Y_test), max(Y_test)], [min(Y_test), max(Y_test)], 'r--', label='Ideal')
plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.title('Evaluation')
plt.legend()

# Show the plot
plt.show()

# Print the result
print("RMSE:", rmse)